#navbar{
    background-color: pink;
}

h1{
    color: hotpink;
    font-family: 'Cambria';
    font-size: 60px;
    text-align: center;
} 

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

#banner{
    margin-bottom: 100px;
}

#content{
    margin-bottom: 100px;
}

img{
    border-style: dashed;
    border-color: hotpink;
}

h2{
    font-family: 'Cambria';
    font-size: auto;
    color: hotpink;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact{
    width: 100%;
    text-align: center;
    border-color: hotpink;
}

.btn-primary{
    background-color: hotpink;
    border-color: hotpink;
}

.row{
    display:flex;
    flex-direction:row;
    align-content: center;
    flex-wrap: wrap;
}

.col{
    justify-content: center;
    display: flex;
}